.page-crew {
  @apply bg-cover bg-bottom;
  background-image: url('../public/images/crew/bg-crew-mobile.jpg');

  @media screen(md) {
    @apply bg-center;
    background-image: url('../public/images/crew/bg-crew-tablet.jpg');
  }

  @media screen(lg) {
    background-image: url('../public/images/crew/bg-crew-desktop.jpg');
  }
}
