.c-btn {
  @apply relative flex items-center bg-white rounded-full z-10;
  width: 150px;
  aspect-ratio: 1;

  @media screen(md) {
    width: 242px;
  }

  @media screen(lg) {
    width: 274px;
  }
}

.c-btn::after {
  @apply absolute inset-0 bg-white rounded-full opacity-0;
  content: '';
  z-index: -1;
  transition: opacity 300ms linear, transform 500ms ease-in-out;
}

.c-btn:hover::after,
.c-btn:focus::after {
  @apply opacity-10 transform scale-150;
}

.c-btn__link {
  @apply flex items-center justify-center w-full h-full rounded-full font-serif text-md text-indigo-900 uppercase leading-none;
  letter-spacing: 1.25px;

  @media screen(md) {
    @apply text-xl tracking-wide;
  }
}
