.c-numbered-dot {
  @apply w-10 border border-solid border-white rounded-full font-serif text-sm text-white border-opacity-25;
  aspect-ratio: 1;
  transition: all 200ms ease-in-out;

  @media screen(md) {
    @apply text-lg;
    width: 60px;
  }

  @media screen(lg) {
    @apply w-20 text-xl;
  }
}

.c-numbered-dot:hover,
.c-numbered-dot:focus {
  @apply border-opacity-100;
}

.c-numbered-dot.active {
  @apply bg-white text-indigo-900 border-opacity-100;
}
