.c-tabs {
  @apply flex items-center;
}

.c-tab::after {
  @apply block w-full bg-white opacity-0;
  content: '';
  height: 3px;
  transition: all 200ms ease-in-out;
}

.c-tab:not(:first-child) {
  @apply ml-9;
}

.c-tab:hover::after,
.c-tab:focus::after {
  @apply opacity-50;
}

.c-tab__button {
  @apply pb-4 text-xs text-indigo-100 leading-none uppercase tracking-wider;

  @media screen(md) {
    @apply text-sm;
  }
}

.c-tab.active {
  @apply text-white;
}

.c-tab.active::after {
  @apply opacity-100;
}
